
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="UploadApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Safe Auto File Input</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
</head>
<body ng-controller="MyController">


    <div>
        <input type="file" value="driver" file-model="myFile" multiple="multiple" ngf-select="uploadFiles($files)" />
    </div>
    <div>
        <input id="" type="file" value="trip" file-model="myFile" multiple="multiple" ngf-select="uploadFiles($files)" />
    </div>
    <form class="form-group" ng-submit="addEntry()" >
        <label>Please enter Driver:</label>
        <input ng-required="selectedEntry.name" name="selectedEntry.name" type="text" ng-disabled="selectedEntry==undefined" ng-model="selectedEntry.name" required>
        <label>Trip:</label> 
        <input ng-required="selectedEntry.trip" name="selectedEntry.trip" type="text" ng-disabled="selectedEntry==undefined" ng-model="selectedEntry.trip" required>
           <input type="submit" />
    </form>
        <ul>
            <li ng-repeat="file in SelectedFiles">{{ file.name }}</li>
        </ul>
        <ul>
            <li ng-repeat="name in collection">{{ name.name }}</li>
        </ul>
        <div id="divprogress" class="progress" ng-show="Progress >= 0"></div>
        <script src="~/Scripts/FileUpload.js"></script>

</body>
</html>
